a {
  display         : inline-block;
  color           : #000;
  cursor          : pointer;
  text-decoration : none;
  font-size       : 40px;
}

a::after {
  content                            : "";
  display                            : block;
  margin                             : 0 auto;
  width                              : 0%;
  height                             : 2px;
  background                         : #000;
  -webkit-transition-duration        : .5s;
  -o-transition-duration             : .5s;
  transition-duration                : .5s;
  -webkit-transition-property        : all;
  -o-transition-property             : all;
  transition-property                : all;
  -webkit-transition-timing-function : ease;
  -o-transition-timing-function      : ease;
  transition-timing-function         : ease;
  -webkit-transform                  : scaleY(0.9);
  -ms-transform                      : scaleY(0.9);
  transform                          : scaleY(0.9);
}

a:hover:after {
  width: 100%;
}
